.btn{
    border: 1px black solid;
    color: white;
    padding: 0.5rem;
    margin: 1rem 1rem;
    min-width: 165px;
    display: block;
    background-color: rgb(7, 13, 15);
    &:hover{
        cursor: pointer;
        background-color: rgb(211, 211, 211);
        color: black;
    }
}
