*{
    box-sizing: border-box;
}
.App {
    width: 50%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    
   
    
  }
  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    .App {
        width: 60%;
        margin: auto;
      }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .App {
      width: 90%;
      margin: auto;
    }
  }